Package: com.milodarling.alwayshdrenabled
Name: AlwaysHDREnabled
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: HDR is always on when using the Camera!
Maintainer: Milo Darling
Author: Milo Darling
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 112
