Package: com.milodarling.alwayshdrenabled
Name: AlwaysHDREnabled
Depends: mobilesubstrate
Version: 0.0.2-2
Architecture: iphoneos-arm
Description: HDR is always on when using the Camera!
Maintainer: Milo Darling
Author: Milo Darling
Section: Tweaks
