<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>footerText</key>
			<string>Camera app must be closed for changes to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.milodarling.alwayshdrenabled~prefs</string>
			<key>PostNotification</key>
			<string>com.milodarling.alwayshdrenabled~prefs/prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
                        <key>label</key>
                        <string>No Normal Shot</string>
			<key>footerText</key>
			<string>Enable this setting to remove the 'normal' shot that is taken along with the HDR one. To get this to work, you may need to enable/disable it and kill the Camera app a couple times.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.milodarling.alwayshdrenabled~prefs</string>
			<key>PostNotification</key>
			<string>com.milodarling.alwayshdrenabled~prefs/prefschanged</string>
			<key>key</key>
			<string>noNormalShot</string>
			<key>label</key>
			<string>No Normal Shot</string>
                </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Tweak by MiloDarling, fork by Phillip Tennen/Codyd51</string>
		</dict>

	</array>
	<key>title</key>
	<string>AlwaysHDREnabled</string>
</dict>
</plist>
